/* .row .col .card .card-content{
    margin: 0;
    background-color: red!important;
    padding: 0;
} */
      /* width */
.autoHeight{
  max-height: 80%;
}
::-webkit-scrollbar {
    width: 10px;
}
#memReg > * .modal-overlay{
  height: 900%;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
      span.helper-text{
        position: absolute!important;
        width: 100%!important;
        bottom: -10px!important;
        text-align: right!important;
        right: 0px;
      }
      div.input-field{
        margin-top: 5px;
      }
      .input-field .helper-text::after{
        position: relative!important;
      }
      body {
        font-family: 'Lato', sans-serif;
    }
    .nItem {
      padding-left: 20px;
      display: block;
      /* vertical-align: middle; */
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, color, background-color;
      transition-property: box-shadow, color, background-color;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
      /* Hack to improve aliasing on mobile/tablet devices */
}
.nItem:hover
 {  background: #424242;
    /* Hack to improve aliasing on mobile/tablet devices */
}
.nItem.active{
  background: #424242;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
}
.sideName{
  font-size: 15px;
  padding-left: 10px
}
.material-icons{
  vertical-align: sub
}
.memCollapsi{
    padding-bottom: 0px
  }

.timepicker-modal{
  top:140px!important
}
ul.home > .active{
  background-color: white!important;
}
.waves-button-input{
  color: white!important
}
.homeBack{
  background: url('./background.svg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.homebtn, .homebtn:hover, .homebtn:focus{
  color: white;
  background: rgb(255,255,255,0.15);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0,0.25)
}
.card{
  margin: 0px
}

@media screen and (max-width:950px){
  .innerDash{
    width: 700px!important
  }
}

@media screen and (max-width:700px){
  .homeBack{
    background-size: auto 100%;
    background-position: left bottom!important;
  }
}

@media screen and (max-width:600px){
  .cardDash{
    padding: 0!important;
    padding-top:20px!important;
  }
  .dashRow{
    padding: 0!important;
    margin-bottom:20px!important;
  }
  .innerDash{
    width: auto!important
  }
  nav{
    line-height: 64px!important;
  }
  .card{
    height: auto!important;
    margin: 0px
  }
  .bottomRightDash, .loader{
    left:0px!important;
    width: auto!important;
    top:120px!important;
    height: auto!important;
    /* z-index: 900!important; */
  }
  #upperLeftDash{
    right:0px!important;
    width: auto!important
  }
  #upperRightDash{
    right: 0px!important;
    left: 0px!important;
    width: auto;
    top: 64px!important;
    height: 70px!important;
  }
  .dashRow{
    height: auto!important;
  }
  #bottomLeftDash{
    transform: translateX(-100%);
    top: 0px!important;
    z-index: 1000!important;
  }
  
}

@media screen and (min-width:600px){
  #bottomLeftDash{
    transform: translateX(0%)!important;
  }
  /* .inputSideTitle{
    color:red;
    font-size: 17px
  } */
}


@media screen and (max-width:400px){
  .memCollapsi{
    padding: 5px;
    padding-top: 20px;
  }
}

ul.dropdown-content{
  max-height: 40vh!important;
}
fieldset{
  border: 1px dashed #e0e0e0!important;
  border-radius: 2px;
  color: gray;
}
@media screen and (max-width: 500px){
/*HOME*/
  .startC{
    padding: 3vw!important;
    font-size: 4.1vw!important;
  }
  /* .despHome{
    font-size:5vw!important
  } */
}
@media screen and (max-width:1150px){
  .homeBack{
    background-size: auto 100%;
    background-position: center;
  }
}

table.noborder>tr{
  border: none
}

.themeBlue{
  background-color: rgb(0, 78, 195);
  color:white;
}
.fixed-subModal{
  height:45%!important;
  width: 70%!important;
}
.btn-disabled{
  background: rgb(105, 118, 136)!important;
  cursor: not-allowed!important;
  pointer-events: none;
}
/* .row{
  margin: 0!important;
} */
    